html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.sidenav-fab {
  position: absolute;
  z-index: 5;
}

md-sidenav {
  overflow-x: hidden;
  width: 30%;
  max-width: 500px;
  min-width: 400px;
}

gridster-item div.button-holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

gridster-item{
  background: transparent;
}

gridster-item .item-buttons{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}

.widget-maximize {
  left: 0px !important;
  top: 0px !important;
  width: 100% !important; 
  height: 100% !important;
  z-index: 500;
  }





.destroy-button {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
}

gridster-grid .column {
  opacity: 1; 
}

.transparent-color{
  background-color: #2E6C99 !important
}

.left-margin-10{
  margin-left: 10px
}

.toolbarButtons,.toolbarButtons label {
  position: absolute;
  right: 5%;
  z-index: 3;
  color: #fd0000 !important
}



gridster {
  position: absolute !important;
  background: transparent;
}

.md-dialog-container  {
  z-index: 10500 !important;
}

.md-panel-outer-wrapper.md-panel-is-showing{
  z-index: 10500 !important;
}

.md-select-menu-container.md-active.md-clickable{
  z-index: 10501 !important;
}

md-sidenav {
  z-index: 10500 !important;
}

md-backdrop {
  z-index: 10000 !important;
}

.page-dashboard-container {
  height:100%;
  background-size: 100% 100%
}

.md-autocomplete-suggestions-container{
  z-index: 10001 !important;
}

element{
  width: 100%;
  height: 100%;
}



.color-picker-input-wrapper{
  width: 180px;
  margin-bottom:20px
}




.fullcontainer{
  width: 100%;
  height: 100%;
  display: inline-block
}


.CodeMirror-linenumber {
  padding: 1px 8px 0 5px;
}

md-tooltip.tt-multiline {
  height: auto !important;
}

.input-fields{
  width:100%
}

.spinner-margin-top{
  margin-top: 20%;
}

.spinner-overlay{
  position:absolute;
  width:100%;
  height:100%;
  z-index:90000
}

.no-wrap{
  white-space: nowrap;
  font-size:12px;
  overflow: hidden
}

tip-arrow{
  display: none
}

.cursor-hand{
  cursor: pointer
}

.md-open-menu-container{
  z-index: 10000 !important
}

.md-autocomplete-suggestions-container{
  z-index: 100001 !important;
}
.md-dialog-fullscreen {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.green-toolbar{
  background-color:rgb(74, 150, 49)  !important
}

.no-margin{
  margin:0px !important
}

.small-toolbar{
  height: 30px !important;
  min-height: 30px !important;
}

.ods-date-editor .ods-range-separator {
  font-weight: 500;
  padding: 0 4px !important;
  color: #6E767D;
  font-size: 9px;
  letter-spacing: .3px;
  text-transform: uppercase;
}

.ods-date-editor--datetimerange>.ods-input__inner {
    width: 139px !important;
}